<div class="container-fluid col-sm-12 view-container" ng-show="authenticated" ng-submit="sendMessage()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Conversation with </strong><a href="#/profile/{{profile.id}}"><strong>{{profile.fullName}}</strong></a>
        </div>
        <div class="panel-body chat dialog" id="chat">
            <div class="chat-message">
                <ul class="chat"
                    ng-repeat="message in messageList | orderBy: posted : true">
                    <li ng-class="['clearfix', profileId===message.senderId ? 'right' : 'left']">
                            <span ng-class="['chat-img', 'pull-' + (profileId===message.senderId ? 'right' : 'left')]">
                            <ng-letter-avatar data={{message.avatar}} shape="round"></ng-letter-avatar>
                            </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="text-muted">{{message.senderName}}</strong>
                                <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>
                                    {{message.posted | dateOrTime}}
                                </small>
                            </div>
                            <div class="last-message text-muted angular-with-newlines">{{message.body}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-footer">
            <form name="dialogForm" role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3" ng-required="true" maxlength="255" id="messageBody"
                              name="messageBody" ng-model="messageText" title="Your test"
                              ></textarea>
                </div>
                <input type="submit" value="Send" ng-class="['btn btn-primary', dialogForm.$valid ? '' : 'disabled']">
            </form>
        </div>
    </div>
</div>