<div class="container-fluid col-md-6 col-md-offset-3 view-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Sign in to social-network.com</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="loginForm" autocomplete="off" novalidate
                  ng-submit="loginForm.$valid && login()">
                <div class="col-sm-12 col-md-10 col-md-offset-1 ">
                    <div ng-class="['form-group', !loginForm.email.$dirty ? '' : loginForm.email.$error.required || loginForm.email.$error.email ? 'has-error has-feedback' : 'has-success has-feedback']">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input ng-model="username" class="form-control" id="email" name="email"
                                   placeholder="E-mail" type="email" required autocomplete="new-login" minlength="5"
                                   maxlength="50"/>
                        </div>
                        <p ng-show="loginForm.email.$error.required && loginForm.email.$dirty" class="help-block">
                            E-mail required
                        </p>
                        <p ng-show="loginForm.email.$error.email && loginForm.email.$dirty" class="help-block">
                            E-mail invalid
                        </p>
                    </div>
                    <div ng-class="['form-group', !loginForm.password.$dirty ? '' : loginForm.password.$error.required || loginForm.password.$error.password ? 'has-error has-feedback' : 'has-success has-feedback']">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input ng-model="password" class="form-control" id="password" name="password"
                                   placeholder="Password" type="password" autocomplete="new-password" required
                                   maxlength="50"/>
                        </div>
                        <p ng-show="loginForm.password.$error.required && loginForm.password.$dirty" class="help-block">
                            Password is required</p>
                        <p ng-show="loginForm.password.$error.password && loginForm.password.$dirty" class="help-block">
                            Password is invalid</p>
                    </div>
                    <div class="form-group">
                        <div ng-show="error" class="alert alert-danger">
                            <p>Login or password is incorrect</p>
                        </div>
                        <input type="submit" class="col-sm-12"
                               ng-class="['btn btn-primary', loginForm.$valid && loginForm.$dirty ? '' : 'disabled']"
                               value="Sign-in"/>
                    </div>
                </div>
            </form>
            <div></div>
            <form class="form-horizontal" name="signInWithFacebookForm" autocomplete="off" novalidate
                  action={{facebookURL}} method="POST">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <div class="input-group col-sm-12">
                            <button type="submit" class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span>Continue with Facebook
                            </button>
                            <input name="_csrf" type="hidden" value={{csrf}}>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal" name="signInWithGoogleForm" autocomplete="off" novalidate
                  action={{googleURL}} method="POST">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <div class="input-group col-sm-12">
                            <button type="submit" class="btn btn-block btn-social btn-google">
                                <span class="fa fa-google"></span>Continue with Google
                            </button>
                            <input name="_csrf" type="hidden" value={{csrf}}>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer" align="center">Don't have an account?
            <a href="#/signUp">Sign up here...</a>
        </div>
    </div>
</div>
