<div class="container-fluid col-sm-12 view-container" ng-show="authenticated">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Last messages</strong>
        </div>
        <div class="panel-body chat messages" id="chat">
            <div class="chat-message">
                <ul class="chat" ng-repeat="message in messageList | orderBy: posted: false">
                    <li ng-class="['clearfix', profileId===message.senderId ? 'right' : 'left']">
                        <a href="#/messages/{{message.interlocutor}}" title="Send message">
                            <span ng-class="['chat-img', 'pull-' + (profileId===message.senderId ? 'right' : 'left')]">
                            <ng-letter-avatar data={{message.avatar}} shape="round"></ng-letter-avatar>
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{message.senderName}} to
                                        {{message.recipientName}}</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>
                                        {{message.posted | dateOrTime}}
                                    </small>
                                </div>
                                <div class="last-message text-muted angular-with-newlines">{{message.body}}</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>