<div class="container-fluid col-sm-12 view-container" ng-show="authenticated">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <strong>Profile settings</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="userForm" ng-submit="userForm.$valid && updateAccount()" novalidate>
                <strong>Contact information:</strong>
                <div ng-class="['form-group', !userForm.firstName.$dirty ? '' : userForm.firstName.$error.required || userForm.firstName.$error.minlength || userForm.firstName.$error.maxlength ? 'has-error has-feedback' : 'has-success has-feedback']">
                    <label class="col-md-4 control-label">Tony</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="profile.firstName" name="firstName" placeholder="First name"
                                   class="form-control" type="text" required minlength="2" maxlength="50"
                                   value='{{profile.firstName}}'>
                        </div>
                        <p ng-show="(userForm.firstName.$error.required || userForm.firstName.$error.minlength) && userForm.firstName.$dirty"
                           class="help-block">
                            First name is required to be at least 2 characters
                        </p>
                        <p ng-show="userForm.firstName.$error.maxlength && userForm.firstName.$dirty"
                           class="help-block">
                            First name cannot be longer than 50 characters
                        </p>
                    </div>
                </div>
                <div ng-class="['form-group', !userForm.lastName.$dirty ? '' : userForm.lastName.$error.required || userForm.lastName.$error.minlength || userForm.lastName.$error.maxlength ? 'has-error has-feedback' : 'has-success has-feedback']">
                    <label class="col-md-4 control-label">Stark</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="profile.lastName" name="lastName" placeholder="Last name"
                                   class="form-control" type="text" required minlength="2" maxlength="50"
                                   value='{{profile.lastName}}'>
                        </div>
                        <p ng-show="(userForm.lastName.$error.required || userForm.lastName.$error.minlength) && userForm.lastName.$dirty"
                           class="help-block">
                            Last name is required to be at least 2 characters
                        </p>
                        <p ng-show="userForm.lastName.$error.maxlength && userForm.lastName.$dirty" class="help-block">
                            Last name cannot be longer than 50 characters
                        </p>
                    </div>
                </div>
                <div ng-class="['form-group', !userForm.email.$dirty ? '' : userForm.email.$error.required || userForm.email.$error.email || userForm.email.$error.minlength || userForm.email.$error.maxlength ? 'has-error has-feedback' : 'has-success has-feedback']">
                    <label class="col-md-4 control-label">E-Mail</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input ng-model="profile.email" name="email" placeholder="tony@stark.com"
                                   class="form-control" type="email" required minlength="5" maxlength="50"
                                   value='{{profile.email}}'>
                        </div>
                        <p ng-show="userForm.email.$error.email && userForm.email.$dirty" class="help-block">
                            Email is invalid
                        </p>
                        <p ng-show="(userForm.email.$error.required || userForm.email.$error.minlength) && userForm.email.$dirty"
                           class="help-block">
                            Email is required to be at least 5 characters
                        </p>
                        <p ng-show="userForm.email.$error.maxlength && userForm.email.$dirty" class="help-block">
                            Email cannot be longer than 50 characters
                        </p>
                    </div>
                </div>
                <div ng-class="['form-group', !userForm.phone.$dirty ? '' : userForm.phone.$error.required || userForm.phone.$error.pattern ? 'has-error has-feedback' : 'has-success has-feedback']">
                    <label class="col-md-4 control-label">Phone</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input type="tel" ng-model="profile.phone" name="phone" id="phone"
                                   placeholder="79111234567"
                                   class="form-control" required value='{{profile.phone}}'
                                   ng-pattern="/^[0-9]{5,15}$/">
                        </div>
                        <p ng-show="(userForm.phone.$error.required || userForm.phone.$error.pattern) && userForm.phone.$dirty"
                           class="help-block">
                            Valid phone number is required
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Birth date</label>
                    <div class="col-md-4">
                        <div class="input-group">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="chooseBirthDate()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            <input type="text" class="form-control" ng-model="profile.birthDate"
                                   uib-datepicker-popup="dd.MM.yyyy"
                                   is-open="birthDate.opened" datepicker-options="dateOptions" required
                                   close-text="Close" placeholder="01.01.2001"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Gender</label>
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input type="radio" name="gender" ng-model="profile.gender" value='MALE'>
                            Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" ng-model="profile.gender" value='FEMALE'>
                            Female
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div ng-show="success" class="col-md-8 col-md-offset-2 alert alert-success">
                        <div>{{message}}</div>
                    </div>
                    <div ng-show="error" class="col-md-8 col-md-offset-2 alert alert-danger">
                        <div>{{message}}</div>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <input type="submit"
                               ng-class="['btn btn-primary btn-block', userForm.$valid && userForm.$dirty ? '' : 'disabled']"
                               value="Submit information">
                    </div>
                </div>
            </form>
            <br/>
            <form class="form-horizontal" name="passwordForm" ng-submit="passwordForm.$valid && changePassword()"
                  novalidate>
                <div>
                    <strong>Change password:</strong>
                </div>
                <div ng-class="['form-group', !passwordForm.currentPassword.$dirty ? '' : passwordForm.currentPassword.$error.required || passwordForm.currentPassword.$error.password || passwordForm.currentPassword.$error.minlength || passwordForm.currentPassword.$error.maxlength ? 'has-error has-feedback' : 'has-success has-feedback']">
                    <label class="col-md-4 control-label">Current password</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input ng-model="currentPassword" class="form-control" id="currentPassword"
                                   name="currentPassword"
                                   type="password" autocomplete="new-password" required
                                   minlength="5" maxlength="50"/>
                        </div>
                        <p ng-show="passwordForm.currentPassword.$error.password && passwordForm.currentPassword.$dirty"
                           class="help-block">
                            Password is invalid</p>
                        <p ng-show="(passwordForm.currentPassword.$error.required || passwordForm.currentPassword.$error.minlength) && passwordForm.currentPassword.$dirty"
                           class="help-block">
                            Password is required to be at least 5 characters
                        </p>
                        <p ng-show="passwordForm.currentPassword.$error.maxlength && passwordForm.currentPassword.$dirty"
                           class="help-block">
                            Password cannot be longer than 50 characters
                        </p>
                    </div>
                </div>
                <div ng-class="['form-group', !passwordForm.password.$dirty ? '' : passwordForm.password.$error.required || passwordForm.password.$error.password || passwordForm.password.$error.minlength || passwordForm.password.$error.maxlength ? 'has-error has-feedback' : 'has-success has-feedback']">
                    <label class="col-md-4 control-label">New password</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input ng-model="password" class="form-control" id="password" name="password"
                                   type="password" autocomplete="new-password" required
                                   minlength="5" maxlength="50"/>
                        </div>
                        <p ng-show="passwordForm.password.$error.password && passwordForm.password.$dirty"
                           class="help-block">
                            Password is invalid</p>
                        <p ng-show="(passwordForm.password.$error.required || passwordForm.password.$error.minlength) && passwordForm.password.$dirty"
                           class="help-block">
                            Password is required to be at least 5 characters
                        </p>
                        <p ng-show="passwordForm.password.$error.maxlength && passwordForm.password.$dirty"
                           class="help-block">
                            Password cannot be longer than 50 characters
                        </p>
                    </div>
                </div>
                <div ng-class="['form-group', !passwordForm.confirmPassword.$dirty ? '' : passwordForm.confirmPassword.$error.required || passwordForm.confirmPassword.$error.password || passwordForm.confirmPassword.$error.minlength || passwordForm.confirmPassword.$error.maxlength ? 'has-error has-feedback' : 'has-success has-feedback']">
                    <label class="col-md-4 control-label">Confirm password</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input ng-model="confirmPassword" class="form-control" id="confirmPassword"
                                   name="confirmPassword"
                                   type="password" autocomplete="new-password" required
                                   minlength="5" maxlength="50"/>
                        </div>
                        <p ng-show="passwordForm.confirmPassword.$error.password && passwordForm.confirmPassword.$dirty"
                           class="help-block">
                            Password is invalid</p>
                        <p ng-show="(passwordForm.confirmPassword.$error.required || passwordForm.confirmPassword.$error.minlength) && passwordForm.confirmPassword.$dirty"
                           class="help-block">
                            Password is required to be at least 5 characters
                        </p>
                        <p ng-show="passwordForm.confirmPassword.$error.maxlength && passwordForm.confirmPassword.$dirty"
                           class="help-block">
                            Password cannot be longer than 50 characters
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div ng-show="pwdSuccess" class="col-md-8 col-md-offset-2 alert alert-success">
                        <div>{{pwdMessage}}</div>
                    </div>
                    <div ng-show="pwdError" class="col-md-8 col-md-offset-2 alert alert-danger">
                        <div>{{pwdMessage}}</div>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <input type="submit"
                               ng-class="['btn btn-primary btn-block', passwordForm.$valid && passwordForm.$dirty ? '' : 'disabled']"
                               value="Submit password">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>