<div class="container-fluid col-sm-12 view-container" ng-show="authenticated">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>{{activeTab.title}}</strong>
            <div class="input-group input-group-sm search-text">
                <input type="text" ng-model="personSearch" name="personSearch" class="form-control" placeholder="Search..."
                       value='{{searchText}}'>
                <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
            </div>
        </div>
    </div>
    <div class="panel-body users" id="users">
        <table class="table">
            <tr ng-repeat="person in people | orderBy: fullName | filter : personSearch ">
                <td class="col-md-1 text-center border-bottom">
                    <a href="#/profile/{{person.id}}" ng-click="onClickTab('profile')">
                        <ng-letter-avatar data={{person.avatar}} shape="round"></ng-letter-avatar>
                    </a>
                </td>
                <td class="col-md-9 border-bottom">
                    <a class="control-label" href="#/profile/{{person.id}}" ng-click="onClickTab('profile')">
                        <strong class="primary-font">{{person.fullName}}</strong>
                    </a><br>
                    <span class="text-muted" ng-show="person.friendOfMine">{{person.email}}</span>
                </td>
                <td class="col-md-2 border-bottom">
                    <button-send-message profile="person"></button-send-message>
                    <br>
                    <button-remove-friend profile="person" remove="removeFriend(person.id)"></button-remove-friend>
                    <button-add-friend profile="person" add="addFriend(person.id)"></button-add-friend>
                </td>
            </tr>
        </table>
    </div>
    <div align="center">
        <ul uib-pagination ng-model="currentPage" total-items="totalElements" page="currentPage" max-size="totalPages"
            items-per-page="entryLimit" first-text="&laquo;" last-text="&raquo;" direction-links="false"
            boundary-links="true"></ul>
    </div>
</div>
<!--</div>-->