<!--TODO: Rewrite valudation control-->
<div class="container-fluid col-sm-12 view-container" ng-submit="userForm.$valid && updateAccount()">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <strong>Profile settings</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="userForm" novalidate>
                <div class="form-group" show-errors="{ showSuccess: true }">
                    <label class="col-md-4 control-label">First Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="editableAccount.firstName" name="firstName" placeholder="First name"
                                   class="form-control" type="text" required
                                   maxlength="255" value='{{editableAccount.firstName}}'>
                        </div>
                        <p ng-show="userForm.firstName.$error.required" class="help-block">First name is required</p>
                    </div>
                </div>
                <div class="form-group" show-errors="{ showSuccess: true }">
                    <label class="col-md-4 control-label">Last Name</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input ng-model="editableAccount.lastName" name="lastName" placeholder="Last name"
                                   class="form-control" type="text" required maxlength="255"
                                   value='{{editableAccount.lastName}}'>
                        </div>
                        <p ng-show="userForm.lastName.$error.required" class="help-block">Last name is required</p>
                    </div>
                </div>
                <div class="form-group" show-errors="{ showSuccess: true }">
                    <label class="col-md-4 control-label">E-Mail</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input ng-model="editableAccount.email" name="email" placeholder="E-mail"
                                   class="form-control" type="email" required maxlength="255"
                                   value='{{editableAccount.email}}'>
                        </div>
                        <p ng-show="userForm.email.$error.required" class="help-block">The user's email is required</p>
                        <p ng-show="userForm.email.$error.email" class="help-block">The email address is invalid</p>
                    </div>
                </div>
                <div class="form-group" show-errors="{ showSuccess: true }">
                    <label class="col-md-4 control-label">Phone</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input type="tel" ng-model="editableAccount.phone" name="phone" id="phone"
                                   placeholder="+79111234567"
                                   class="form-control" required value='{{editableAccount.phone}}'
                                   ng-pattern="/^[0-9]{5,15}$/">
                        </div>
                        <p ng-show="userForm.phone.$error.required" class="help-block">Valid phone number is
                            required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Birth date</label>
                    <div class="col-md-4">
                        <div class="input-group">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="chooseBirthDate()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            <input type="text" class="form-control" ng-model="editableAccount.birthDate"
                                   uib-datepicker-popup="dd.MM.yyyy"
                                   is-open="birthDate.opened" datepicker-options="dateOptions" required
                                   close-text="Close" placeholder="01.01.2001"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Gender</label>
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input type="radio" name="gender" ng-model="editableAccount.gender" value='MALE'>
                            Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" ng-model="editableAccount.gender" value='FEMALE'>
                            Female
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <input type="submit"
                               ng-class="['btn btn-primary', userForm.$valid && userForm.$dirty ? '' : 'disabled']"
                               value="Submit information">
                    </div>
                </div>
            </form>
            <!--<form class="form-horizontal" action="/contact" method="post" id="password_form">-->
            <!--<hr>-->
            <!--<label>Change password:</label>-->
            <!--<div class="form-group">-->
            <!--<label class="col-md-4 control-label">Old password</label>-->
            <!--<div class="col-md-4 inputGroupContainer">-->
            <!--<div class="input-group">-->
            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
            <!--<input type="password" name="old_password" id="old_password" autocomplete="off"-->
            <!--class="form-control" required-->
            <!--maxlength="255">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="col-md-4 control-label">New password</label>-->
            <!--<div class="col-md-4 inputGroupContainer">-->
            <!--<div class="input-group">-->
            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
            <!--<input type="password" name="password" id="password" autocomplete="off" class="form-control"-->
            <!--required-->
            <!--maxlength="255">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="col-md-4 control-label">Confirm password</label>-->
            <!--<div class="col-md-4 inputGroupContainer">-->
            <!--<div class="input-group">-->
            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
            <!--<input type="password" name="confirm_password" id="confirm_password" autocomplete="off"-->
            <!--class="form-control"-->
            <!--required maxlength="255">-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<c:if test="${not empty requestScope.changePasswordMessage}">-->
            <!--<label class="col-md-4 control-label"></label>-->
            <!--<div class="col-md-4 alert ${requestScope.alertType}">-->
            <!--<strong>${requestScope.changePasswordMessage}</strong>-->
            <!--</div>-->
            <!--</c:if>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label class="col-md-4 control-label"></label>-->
            <!--<div class="col-md-4">-->
            <!--<button type="submit" class="btn btn-primary" name="action" value="changePassword">Submit new-->
            <!--password-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->
        </div>
    </div>
</div>